<div class="spin-wrapper" *ngIf="isLoading">
    <div class="spinner">
    </div>
</div>
<!--  -->
<div class="parent-div">
    <div class="corona-coutner">
        <div class="counter-india">
            <h3>CORONA TRACKER (INDIA)</h3>
            <ul>
                <li>
                    <div class="crna-title">Confirmed</div>
                    <div class="crna-val" id="i_tot_conf">{{indiaData?.totalConfirmed }}</div>
                </li>
                <li>
                    <div class="crna-title">Recovered</div>
                    <div class="crna-val" id="i_tot_rec">{{indiaData?.totalRecovered }}</div>
                </li>
                <li>
                    <div class="crna-title">Death</div>
                    <div class="crna-val" id="i_tot_det">{{indiaData?.totalDeaths}}</div>
                </li>
            </ul>
        </div>
    </div>

    <mat-form-field>
        <mat-label style="color: white;">Filter By State</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Andhra">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
            <mat-footer-cell *matFooterCellDef>  </mat-footer-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="statename">
            <mat-header-cell *matHeaderCellDef mat-sort-header> State </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.statename}} </mat-cell>
            <mat-footer-cell *matFooterCellDef> Total </mat-footer-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="confirmed">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Confirmed </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.confirmed}} </mat-cell>
            <mat-footer-cell *matFooterCellDef> {{ getTotalCount('confirmed') }} </mat-footer-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="recovered">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Recovered </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.recovered}} </mat-cell>
            <mat-footer-cell *matFooterCellDef> {{ getTotalCount('recovered') }} </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="tested">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Tested </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.tested}} </mat-cell>
            <mat-footer-cell *matFooterCellDef> {{ getTotalCount('tested') }} </mat-footer-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>

</div>
