.header-class {
    background: #3f51b5;
    color: #fff;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #aab7c3;
    color: black;
    text-align: center;
  }